<!--The content below is only a placeholder and can be replaced.-->
<!--main layout-->
<div class="header">
  <h1>Westminster Library</h1>
</div>

<div class="navBar">
  <ul class="linkUls">
    <li><a routerLink="registerreader">REGISTER A READER</a></li>
    <li><a routerLink="add">ADD</a></li>
    <li><a routerLink="burrow">BURROW</a></li>
    <li><a routerLink="delete">DELETE</a></li>
    <li><a routerLink="return">RETURN</a></li>
    <li><a routerLink="display">DISPLAY</a></li>
    <li><a routerLink="viewreport">VIEW REPORT</a></li>



  </ul>



</div>


<router-outlet></router-outlet>
