<div class="formContainer">
  <h3>Delete A DVD</h3>
  ISBN:
  <input type="text" class="txt"  [(ngModel)]="isbnSelectedDVD" placeholder="Enter DVD isbn">
  <br>
  <div>
    <table>
      <tr>{{isbn}}</tr>
      <tr>{{title}}</tr>
      <tr>{{sector}}</tr>
      <tr>{{producer}}</tr>
      <tr>{{actors}}</tr>
    </table>
  </div>
  <input type="submit" value="Show This DVD" id="btnShowDVD" (click)="showDVD()"><br>
  <hr>
  <input type="submit" value="Delete This DVD" id="btnDeleteDVD" (click)="deleteDVD()">
  <table>
    <tr>{{status}}</tr>
    <tr>{{availableSlots}}</tr>
  </table>
</div>
