<div class="formContainer">
  <h3>Return A DVD</h3>
  ISBN:
  <input type="text" class="txt"  [(ngModel)]="isbnReturningDVD" placeholder="Enter DVD isbn">
  <br>
  <input type="submit" value="Show This DVD" id="btnBurrowedDetails" (click)="showDetailsBeforeReturn()">
  <div>
    <table>
      <tr><td>{{isbn}}</td></tr>
      <tr><td>{{title}}</td></tr>
      <tr><td>{{burrowDateTime}}</td></tr>
      <tr><td>{{readerDetails}}</td></tr>
      <tr><td>{{dueDateTime}}</td></tr>
    </table>
  </div>
  <hr>
  <div>
    Returning Date:<br><br>
    Year: <input type="text" class="shorttxt" name="burrowYear"  [(ngModel)]="year" placeholder="YYYY" >
    Month:<input type="text" class="shorttxt" name="burrowMonth"  [(ngModel)]="month" placeholder="MM" >
    Day:<input type="text" class="shorttxt" name="burrowDay" [(ngModel)]="day" placeholder="DD" ><br><br>
    Returning Time:<br><br>
    Hour:<input type="text" class="shorttxt" name="burrowHour" [(ngModel)]="hour" placeholder="HH" >
    Minute:<input type="text" class="shorttxt" name="burrowMin" [(ngModel)]="minute" placeholder="MM" >
    <br><br>
    <input type="submit" value="Return" id="btnReturn" (click)="returnAction()">
  </div>
  <div>
    <table>
      <tr><td>{{duration}}</td></tr>
      <tr><td>{{fine}}</td></tr>
    </table>
    {{errorStatus}}
  </div>

</div>
